# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_DIMETRODON_LEFT
	def_bool $(shields_list_contains,dimetrodon_left)

config SHIELD_DIMETRODON_RIGHT
	def_bool $(shields_list_contains,dimetrodon_right)
