# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_DIMETRODON_LEFT

config ZMK_KEYBOARD_NAME
	default "Dimetrodon"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_DIMETRODON_LEFT || SHIELD_DIMETRODON_RIGHT

config ZMK_SPLIT
	default y

endif
