manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: urob
      url-base: https://github.com/urob
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: 27afcb11efff6345d0ceb875e85c2de0673123f6 # main snapshot (2026-02-28)
      import: app/west.yml
    - name: zmk-helpers
      remote: urob
      revision: e1d928de136b00e069a41129885d56e5a79e5c1e # main snapshot (2026-02-28)
  self:
    path: config
